<mat-card class="aluno">
  <mat-card-title>Nome: Josue</mat-card-title>
  <mat-card-subtitle>Curso: Desenvolvimento de Sistemas </mat-card-subtitle>
</mat-card>

<mat-card class="aluno">
  <mat-card-title> </mat-card-title>
  <mat-card-subtitle> </mat-card-subtitle>
</mat-card>

<mat-card class="aluno">
  <mat-card-title> </mat-card-title>
  <mat-card-subtitle> </mat-card-subtitle>
</mat-card>

<mat-card class="aluno">
  <mat-card-title> </mat-card-title>
  <mat-card-subtitle> </mat-card-subtitle>
</mat-card>
